<!-- patient_appointments.html -->
{% extends 'profil.html' %}

{% block appointments_content %}
    <div class="container">
        <h2>Your appointments</h2>
        <hr>
        <div id="recordsSection">
            <table class="table table-hover" id="recordsTable">
                <thead class="table-dark">
                    <tr>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.doctor }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.start_time }} - {{ appointment.end_time }} </td>
                            <td> 
                                <button type="button" class="btn btn-warning">Edit</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
